
*{
    margin: 0;
    padding: 0;
}

body{

    background-color: #0a0c1b;
    color: white;

}
.contener{

    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  /*  border: 1px solid rebeccapurple;*/
margin: 0 auto;
}

.box {
display: flex;
    flex-direction: row;
    width: 70%;
    /*border: 1px solid darkblue;*/
    background-color:#1c1938;
    border-radius: 10px;

}

.right{
    background-image: url("IMG-20220904-WA0029.jpg");
    width: 50%;
    padding: 100px;
    border-radius: 0 10px 10px 0;


}
.left{
    width: 50%;
    padding:40px;

}

ul{
    display: flex;
    flex-direction: row;
    margin-left:-20px ;
}


ul li{
    list-style-type: none;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    
}
ul li span{
    font-weight: bold;
    color: white;
    font-size: 25px;
}

label{
    color: darkgray;
}

h1 {

    margin-bottom: 30px;
}

p{
    margin-bottom: 30px;
}

.left  h1 span{
color:  #a55ad1;

}


/*respmsive*/


@media screen and (max-width: 768px) {

    .contener{
        display: flex;
        flex-direction: column;
    }

.box{
    flex-direction: column-reverse;
    width: 70%;
}
    ul{
        flex-direction: column;
    }
    ul li{
        margin-bottom: 20px;
        text-align: center;
    }
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
.right{
    border-radius: 10px 10px 0 0;
    width: 38%;
    margin: 0 auto;
}

    h1 {

        margin-bottom: 20px;
        margin-left: 36px;
    }

    p{
        margin-bottom: 20px;
        margin-left: 36px;
    }
    .contener{

        justify-content: inherit;
        margin-top: 60px;
        height: auto;
    }

    ul li{
        margin-left: 50px;
    }

}
